<div id="green">
  <div class="container">

  <div class="row">

    <!--<div class="col-lg-5 centered">
      <img src="./Assets/img/dog.jpg" alt>
    </div>-->
    <div class="col-lg-12 centered">
      <h3>WHAT THIS SITE CAN DO?</h3>
      <p>
        "カフェでは、各々が自分の時間を過ごすことができる場所です。予定より早く目的地についた人、作業をしたい人など様々な人がいるカフェでは、席が空いていなかったりすることがしばしばあります。目的のカフェについたとき、事前に混雑状況などを知りたいと思ったことはありませんか？　このウェブサイトでは、そんな情報を共有し合うことができます。"
      </p>
    </div>

  </div>
</div>
