<section id="contact">
<div class="container">

  <div class="row">

    <div class="col-md-8 centered">
      <h3>Login</h3>
      <form class="contact-form php-mail-form" action="/signin" method="post">
        <div class="form-group">
          <input name="name" placeholder="ユーザーネーム"><br>
          <input name="password" type="password" placeholder="パスワードを入力"><br>
        </div>

        <div class="form-send">
           <button type="submit" class="btn btn-large">Login</button>
        </div><!--送信-->

      </form>
    </div>

  </div>

</div>
</section>