<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <% if !current_user.nil? %>
        <h2>Please select your region</h2>
      <!--ここに選択できる都道府県を羅列-->
        <% @areas.each do |area| %>
         <!--seed値がおかしい-->
          <form action="/areas/<%= area.id %>" method="post">
            <button type="submit" class="btn btn-large">
            <%= area.name %></button>
          </form>
        <% end %>
      <% end %>
</div>
